.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 16px;
  border: 5px solid #f2f2f7;
  border-radius: 150px;
  width: 300px;
  height: 300px;
}

.name {
  margin-bottom: 48px;
  font-size: 48px;
  line-height: 85%;
  font-weight: 400;
  color: #081f32;
  text-align: center;
}

.information {
  margin-bottom: 48px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.15px;
  color: #8e8e93;
  
  @media screen and (max-width: 480px) {
    align-self: self-start;
  }
}

.item {
  width: 413px;

  &__title {
    font-size: 16px;
    line-height: 190%;
    font-weight: 700;
    letter-spacing: 0.15px;
    color: #081f32;
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.25px;
    color: #6e798c;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  }

  @media screen and (max-width: 576px) {
    width: 312px;
  }
}

.back {
  top: 70px;
  left: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  
  &__text {
    font-size: 18px;
    line-height: 117%;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
  }
}
