.header {
  padding: 15px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
}

.googleButton {
  @media screen and (max-width: 576px) {
    width: 200px !important;
  }
}

