.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 42px;
    width: 1020px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 51px;
  
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
  