.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logo {
  @media screen and (max-width: 576px) {
    max-width: 312px;
  }
}

.title {
  text-align: center;
}
