.CharacterDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 300px;
  height: 300px;
  border: 5px solid #f2f2f7;
  border-radius: 150px;
  margin-bottom: 16px;
}

.name {
  font-weight: 400;
  font-size: 48px;
  line-height: 85%;
  color: #081f32;
  margin-bottom: 48px;
}

.informations {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.15px;
  color: #8e8e93;
  margin-bottom: 48px;
}

.item {
  width: 413px;
  position: relative;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 190%;
    letter-spacing: 0.15px;
    color: #081f32;
  }
  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.25px;
    color: #6e798c;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     width: 394px;
    //     height: 1px;
    //     background-image: url("../../assets/img/divider.jpg");
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    // }
  }
}

.back {
  position: absolute;
  top: 21px;
  left: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    text-transform: uppercase;
  }
}
